* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.container {
  margin: auto;
  width: 350px;
  text-align: center;
}
.container p {
  color: hsl(201deg, 11%, 66%);
}
.container .header-logo {
  width: 100%;
  min-height: 200px;
  background: url("../images/bg-header-mobile.png") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.container .header-logo .logo-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  padding: 20px;
}
.container .promo,
.container .download {
  margin-top: 100px;
}
.container .promo-header,
.container .download-header {
  font-size: 30px;
}
.container .promo-text,
.container .download-text {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
}
.container .promo .btns,
.container .download .btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .promo .btns button,
.container .download .btns button {
  padding: 18px;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
}
.container .promo .btns .btn-ios,
.container .download .btns .btn-ios {
  background-color: hsl(171deg, 66%, 44%);
}
.container .promo .btns .btn-mac,
.container .download .btns .btn-mac {
  background-color: hsl(233deg, 100%, 69%);
}
.container .track {
  margin-top: 150px;
}
.container .track-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.container .track .pc-logo {
  margin-top: 30px;
  width: 90%;
}
.container .track .possibility {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container .track .possibility p {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 16px;
}
.container .access {
  margin-top: 150px;
}
.container .access-text {
  margin-top: 20px;
}
.container .access .devices {
  margin-top: 20px;
  width: 90%;
}
.container .benefits {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .partners {
  margin: auto;
  width: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .main-footer {
  margin-top: 100px;
  padding: 20px;
  background-color: #FFFAFA;
}
.container .main-footer .footer-logo {
  width: 50px;
}
.container .main-footer .footer-menu {
  margin-top: 30px;
  line-height: 2.5;
}
.container .main-footer .footer-menu .menu {
  list-style-type: none;
}
.container .main-footer .social-logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container .main-footer .social-logo .logo {
  width: 50px;
}

@media (min-width: 1200px) {
  .container {
    width: 1440px;
    margin: auto;
    text-align: center;
  }
  .container .header-logo {
    width: 100%;
    min-height: 250px;
    background: url("../images/bg-header-desktop.png") center center/cover no-repeat;
  }
  .container .header-logo .logo-img {
    margin: 0 auto;
    width: 170px;
  }
  .container .promo,
.container .download {
    margin-top: 20px;
  }
  .container .promo-header,
.container .download-header {
    font-size: 40px;
  }
  .container .promo-text,
.container .download-text {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  .container .promo .btns,
.container .download .btns {
    margin: auto;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
  }
  .container .promo .btns button,
.container .download .btns button {
    padding: 14px;
    width: 235px;
    font-size: 16px;
  }
  .container .track-text {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    font-size: 18px;
  }
  .container .track-content {
    display: flex;
  }
  .container .track-content .pc-logo {
    width: 40%;
  }
  .container .track-content .possibility {
    text-align: left;
    font-size: 15px;
    margin-left: 100px;
    width: 400px;
  }
  .container .access {
    font-size: 22px;
  }
  .container .access-text {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    font-size: 18px;
  }
  .container .access .devices {
    margin-top: 40px;
    width: 50%;
  }
  .container .benefits-row {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    grid-template-rows: 300px;
  }
  .container .benefits-row .first {
    grid-column: 2/3;
  }
  .container .benefits-row .second {
    grid-column: 3/4;
  }
  .container .benefits-row .third {
    grid-column: 4/5;
  }
  .container .benefits-row .benefits-logo {
    padding: 30px;
  }
  .container .partners {
    margin-top: 0;
    width: 70%;
    padding: 20px;
    flex-direction: row;
  }
  .container .download {
    margin-top: 100px;
  }
  .container .main-footer {
    height: 200px;
    display: grid;
    grid-template-columns: 200px 150px 150px 150px 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
