// sass --watch ./style/style.scss ./style/style.css

$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$cornsilk: #FFFAFA;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
  }

.container {
    margin: auto;
    width: 350px;
    text-align: center;
    p {
       color: $grayish-blue;
    }
    .header-logo {
        width: 100%;
        min-height: 200px;
        background: url("../images/bg-header-mobile.png") center center/cover no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
        .logo-img {
            display: block;
            margin: 0 auto;
            width: 150px;
            padding: 20px;
        }
      }
    .promo,
    .download {
        margin-top: 100px;
        &-header {
            font-size: 30px;
        }
        &-text {
            margin-top: 20px;
            font-size: 15px;
            line-height: 1.5;
        }
        .btns {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            button {
                padding: 18px;
                border-radius: 30px;
                font-size: 18px;
                color: #fff;
            }
            .btn-ios {
                background-color: $strong-cyan;
            }
            .btn-mac {
                background-color: $light-blue;
            }
        }
      }
    .track {
        margin-top: 150px;
        &-text {
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.5;
        }
        .pc-logo {
            margin-top: 30px;
            width: 90%;
            position: absolute;
        }
        .possibility {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            p {
                margin-top: 20px;
                line-height: 1.5;
                font-size: 16px;
            }
        }
    }
    .access {
        margin-top: 150px;
        &-text {
            margin-top: 20px;
        }
        .devices {
            margin-top: 20px;
            width: 90%;
        }
    }
    .benefits {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .partners {
        margin: auto;
        width: 50%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .main-footer {
        margin-top: 100px;
        padding: 20px;
        background-color: $cornsilk;
        .footer-logo {
            width: 50px;
        }
        .footer-menu {
            margin-top: 30px;
            line-height: 2.5;
            .menu {
                list-style-type: none;
            }
        }
        .social-logo {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            gap: 20px;
            .logo {
                width: 50px;
            }
           
        }
    }  
}

@media (min-width: 1200px) {
    .container {
        width: 1440px;
        margin: auto;
        text-align: center;
        .header-logo {
            width: 100%;
            min-height: 250px;
            background: url("../images/bg-header-desktop.png") center center/cover no-repeat;
            .logo-img {
                margin: 0 auto;
                width: 170px;
                }
            }
        .promo,
        .download {
            margin-top: 20px;
            &-header {
                font-size: 40px;
            }
            &-text {
                width: 600px;
                margin: auto;
                margin-top: 20px;
                font-size: 18px;
                line-height: 1.5;
            }
            .btns {
                margin: auto;
                margin-top: 40px;
                flex-direction: row;
                justify-content: center;
                button {
                    padding: 14px;
                    width: 235px;
                    font-size: 16px;
                }
            }
        }
        .track-text {
            margin: auto;
            margin-top: 20px;
            width: 50%;
            font-size: 18px;  
        }
        .track-content {
            position: relative;
            display: flex;
            .pc-logo {
                position: absolute;
                left: -170px;
                width: 50%;
            } 
            .possibility {
                text-align: left;
                font-size: 15px;
                margin-left: 600px;
                width: 400px;
            }
        }
        .access {
            font-size: 22px;
            &-text {
                margin: auto;
                margin-top: 20px;
                width: 50%;
                font-size: 18px;
            }
            .devices {
                margin-top: 40px;
                width: 50%;
            }
        }
        .benefits-row {
            display: grid;
            grid-template-columns: 150px 1fr 1fr 1fr 150px;
            grid-template-rows: 300px;
            .first {
                grid-column: 2/3;
            }
            .second {
                grid-column: 3/4;
            }
            .third {
                grid-column: 4/5;
            }
            .benefits-logo {
                padding: 30px;
            }
        }
        .partners {
            margin-top: 0;
            width: 70%;
            padding: 20px;
            flex-direction: row;
        }
        .download {
            margin-top: 100px;
        }
        .footer-content {
            margin: auto;
            height: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .menu {
                text-align: left;
                display: grid;
                grid-template-columns: repeat(4, 150px);
                .one {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .two {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                .three {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .four {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
                .five {
                    grid-column: 3/4;
                    grid-row: 1/2;
                }
            }
        }
    }
}
  